# Exercícios

1. Crie um dataframe de tax_data_2016.csv que usa apenas as colunas específicas necessárias para ver se há diferenças por geografia e nível de renda na composição familiar.
Para fazer isso, selecione as colunas sobre grupo de renda, são elas: CEP (zipcode), status de declaração de imposto de renda (coluna mars1 para solteiro e MARS2 para casado), e  NUMDEP (número de dependentes).

In [48]:
import pandas as pd
import os

In [49]:
pd.set_option('display.max_columns',50)

In [50]:
path_us_data = 'atividade1/us_tax_data_2016.csv'

df_tax_data = pd.read_csv(path_us_data)
df_tax_data

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,30,0,0,0,0,0,0,0,2572,30,2572,30,2283,20,2,...,0,30,292,0,0,0,0,0,0,0,0,0,0,30,207,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,30,0,0,0,0,0,0,0,3755,30,3755,30,3060,0,0,...,0,30,510,0,0,0,0,0,0,0,0,0,0,30,442,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,90,0,0,0,0,0,40,30,1834,140,1875,100,1313,40,11,...,0,130,376,60,209,60,187,40,46,0,0,0,0,40,26,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,60,0,0,0,0,0,30,20,3235,90,3235,80,2621,0,0,...,0,90,365,30,63,30,54,20,23,0,0,0,0,70,146,80,165,0,0,0,0,40,62,80,228

In [51]:
df_tax_data = df_tax_data.rename(columns={
    "zipcode": "CEP",
    "mars1": "solteiro",
    "MARS2": "casado",
    "NUMDEP": "numero_de_dependentes"
})
df_tax_data

,STATEFIPS,STATE,CEP,agi_stub,N1,solteiro,casado,MARS4,PREP,N2,numero_de_dependentes,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,30,0,0,0,0,0,0,0,2572,30,2572,30,2283,20,2,...,0,30,292,0,0,0,0,0,0,0,0,0,0,30,207,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,30,0,0,0,0,0,0,0,3755,30,3755,30,3060,0,0,...,0,30,510,0,0,0,0,0,0,0,0,0,0,30,442,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,90,0,0,0,0,0,40,30,1834,140,1875,100,1313,40,11,...,0,130,376,60,209,60,187,40,46,0,0,0,0,40,26,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,60,0,0,0,0,0,30,20,3235,90,3235,80,2621,0,0,...,0,90,365,30,63,30,54,20,23,0,0,0,0,70,146,80,165,0,0,0,0,40,62,80,228

In [52]:
df_tax_data_2016 = df_tax_data.loc[:,['CEP', 'solteiro', 'casado', 'numero_de_dependentes']]
df_tax_data_2016

        CEP  solteiro  casado  numero_de_dependentes
0         0    477700  105350                 491310
1         0    211930  142340                 360480
2         0     83420  137870                 182880
3         0     29420  124060                 130160
4         0     20240  188080                 195990
...     ...       ...     ...                    ...
2996  36584         0      30                     30
2997  36584         0      30                     30
2998  36584         0       0                      0
2999  36585        80      20                     90
3000  36585        40      30                     60

[3001 rows x 4 columns]

In [53]:
path_respostas = 'atividade1/respostas'

os.makedirs(path_respostas, exist_ok=True)

df_tax_data_2016.to_csv(f'{path_respostas}/tax_data_2016_resposta_1.csv',index=False)

2. Obtenha as primeiras 500 linhas em um dataframe chamado primeiras500. 
Em seguida obtenha as próximas 500 linhas em um dataframe proximas500. 
Para fazer isso, use os argumentos ``nrows`` e  ``skiprows`` para obter os registros corretos, 
``header`` para informar aos pandas que os dados não têm nomes de colunas e ``names`` para fornecer os nomes de colunas ausentes.     
Depois, nomeie as colunas em proximos500 fornecendo uma lista de colunas de primeiros500 para o argumento ``names``.
Use a função list() para obter nomes de coluna de primeiros500.

In [54]:
primeiras500 = pd.read_csv(path_us_data, nrows=500, skiprows=0)
primeiras500

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,AL,35176,4,30,0,20,0,30,70,30,0,0,0,0,0,0,0,2439,30,2439,30,2240,0,0,...,0,30,295,0,0,0,0,0,0,0,0,0,0,30,229,30,236,0,0,0,0,0,0,30,87
496,1,AL,35176,5,20,0,20,0,0,50,0,0,0,0,0,0,0,0,3490,20,3490,20,2849,0,0,...,0,20,498,0,0,0,0,0,0,0,0,0,0,20,499,20,522,0,0,0,0,0,0,0,0
497,1,AL,35176,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
498,1,AL,35178,1,590,330,100,140,300,930,320,0,0,0,0,40,160,110,7613,590,7754,450,5813,70,37,...,0,550,1466,260,706,220,618,150,185,40,37,30,10,200,123,280,257,0,0,0,0,50,35,520,1243
499,1,AL,35178,2,390,150,120,100,200,760,250,0,0,0,0,0,100,80,13876,390,13943,340,11628,60,41,...,15,380,1595,120,222,100,189,80,89,0,0,0,0,310,677,320,728,0,0,0,0,50,64,330,926

In [55]:
nomes_das_colinas = list(primeiras500)
nomes_das_colinas

['STATEFIPS',
 'STATE',
 'zipcode',
 'agi_stub',
 'N1',
 'mars1',
 'MARS2',
 'MARS4',
 'PREP',
 'N2',
 'NUMDEP',
 'TOTAL_VITA',
 'VITA',
 'TCE',
 'VITA_EIC',
 'RAL',
 'RAC',
 'ELDERLY',
 'A00100',
 'N02650',
 'A02650',
 'N00200',
 'A00200',
 'N00300',
 'A00300',
 'N00600',
 'A00600',
 'N00650',
 'A00650',
 'N00700',
 'A00700',
 'N00900',
 'A00900',
 'N01000',
 'A01000',
 'N01400',
 'A01400',
 'N01700',
 'A01700',
 'SCHF',
 'N02300',
 'A02300',
 'N02500',
 'A02500',
 'N26270',
 'A26270',
 'N02900',
 'A02900',
 'N03220',
 'A03220',
 'N03300',
 'A03300',
 'N03270',
 'A03270',
 'N03150',
 'A03150',
 'N03210',
 'A03210',
 'N03230',
 'A03230',
 'N03240',
 'A03240',
 'N04470',
 'A04470',
 'A00101',
 'N17000',
 'A17000',
 'N18425',
 'A18425',
 'N18450',
 'A18450',
 'N18500',
 'A18500',
 'N18800',
 'A18800',
 'N18300',
 'A18300',
 'N19300',
 'A19300',
 'N19500',
 'A19500',
 'N19530',
 'A19530',
 'N19550',
 'A19550',
 'N19570',
 'A19570',
 'N19700',
 'A19700',
 'N20800',
 'A20800',
 'n21020',
 'a21020',
 'N04800',
 'A04800',
 'N05800',
 'A05800',
 'N09600',
 'A09600',
 'N05780',
 'A05780',
 'N07100',
 'A07100',
 'N07300',
 'A07300',
 'N07180',
 'A07180',
 'N07230',
 'A07230',
 'N07240',
 'A07240',
 'N07220',
 'A07220',
 'N07260',
 'A07260',
 'N09400',
 'A09400',
 'N85770',
 'A85770',
 'N85775',
 'A85775',
 'N09750',
 'A09750',
 'N10600',
 'A10600',
 'N59660',
 'A59660',
 'N59720',
 'A59720',
 'N11070',
 'A11070',
 'N10960',
 'A10960',
 'N11560',
 'A11560',
 'N06500',
 'A06500',
 'N10300',
 'A10300',
 'N85530',
 'A85530',
 'N85300',
 'A85300',
 'N11901',
 'A11901',
 'N11902',
 'A11902']

In [56]:
proximas500 = pd.read_csv(path_us_data, nrows=500, skiprows=501, header=None, names=nomes_das_colinas)
proximas500

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,35178,3,230,60,120,50,140,540,200,0,0,0,0,0,40,60,13654,230,13737,210,11122,60,23,...,0,220,1452,0,0,0,0,0,0,20,22,0,0,220,1005,220,1052,0,0,0,0,50,110,170,508
1,1,AL,35178,4,120,30,90,0,80,280,80,0,0,0,0,0,30,40,9905,120,10001,100,7247,40,69,...,0,120,1149,0,0,0,0,0,0,0,0,0,0,110,889,110,931,0,0,0,0,40,62,80,274
2,1,AL,35178,5,110,0,90,0,80,280,90,0,0,0,0,0,0,60,14233,110,14454,120,12722,80,81,...,0,110,1907,0,0,0,0,0,0,0,0,0,0,110,1757,110,1829,0,0,0,0,50,420,70,295
3,1,AL,35178,6,20,0,20,0,0,50,0,0,0,0,0,0,0,0,7392,20,7392,0,0,0,0,...,0,20,1215,0,0,0,0,0,0,0,0,0,0,20,1464,20,1551,0,0,0,0,0,0,0,0
4,1,AL,35179,1,1440,860,320,230,890,2180,670,0,0,0,0,60,280,310,17955,1440,18245,1110,14098,180,90,...,19,1330,3206,530,1362,460,1175,300,368,50,41,70,62,490,339,700,634,0,0,0,0,120,82,1250,2639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,AL,35564,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
496,1,AL,35565,1,2250,1200,520,490,1590,3850,1340,20,0,20,0,150,500,440,29283,2250,29791,1800,23001,330,186,...,30,2080,5752,1030,2826,900,2476,630,791,50,37,100,69,710,467,1060,1034,0,0,0,0,200,182,1940,4871
497,1,AL,35565,2,1270,430,600,220,920,2910,1040,0,0,0,0,70,230,270,45116,1270,45569,1150,37722,290,240,...,58,1240,5482,410,951,330,770,300,427,40,26,30,20,940,1954,1010,2377,0,0,0,0,160,264,1100,3325
498,1,AL,35565,3,610,110,470,50,480,1620,540,0,0,0,0,0,60,160,37196,610,37644,560,30799,220,235,...,0,600,3967,0,0,0,0,30,44,50,35,0,0,580,2512,590,2721,0,0,0,0,120,230,480,1434
499,1,AL,35565,4,270,0,250,0,210,790,280,0,0,0,0,0,30,70,22905,270,23131,240,18964,130,85,...,0,260,2573,0,0,0,0,0,0,30,33,0,0,260,1854,260,1978,0,0,0,0,50,222,210,794

3. Carregue o arquivo tax_data_2016.csv, visualize o atributo dtypes do dataframe e observe os tipos de dados de CEP e agi_stub.

In [57]:
path_3 = 'atividade1/us_tax_data_2016.csv'

# CEP = zipcode
# agi_stub


df_3 = pd.read_csv(path_3)
df_3.dtypes

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

4. Você deve ter observado que a coluna agi_stub contém números que correspondem a categorias de renda, e CEP tem valores de 5 dígitos que devem ser strings -- tratá-los como inteiros significa que perdemos 0s iniciais, que são significativos. 
Defina os tipos de dados corretos criando um dicionario chamado null_values, especificando que 0s na coluna CEP devem ser considerados valores NA.
Depois, carregue tax_data_2016.csv, usando o argumento na_values e o dicionário para garantir que CEPs inválidos sejam tratados como ausentes.

In [58]:
null_values = {0}

df_4 = pd.read_csv(path_3, dtype= {"zipcode":str}, na_values={"zipcode":null_values})
df_4

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,NaN,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,...,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,NaN,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,...,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,NaN,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,...,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,NaN,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,...,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,NaN,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,...,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,30,0,0,0,0,0,0,0,2572,30,2572,30,2283,20,2,...,0,30,292,0,0,0,0,0,0,0,0,0,0,30,207,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,30,0,0,0,0,0,0,0,3755,30,3755,30,3060,0,0,...,0,30,510,0,0,0,0,0,0,0,0,0,0,30,442,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,90,0,0,0,0,0,40,30,1834,140,1875,100,1313,40,11,...,0,130,376,60,209,60,187,40,46,0,0,0,0,40,26,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,60,0,0,0,0,0,30,20,3235,90,3235,80,2621,0,0,...,0,90,365,30,63,30,54,20,23,0,0,0,0,70,146,80,165,0,0,0,0,40,62,80,228

5. Leia o arquivo fcc_survey.xlsx, atribua-o à variável survey_responses e imprima os primeiros registros de survey_responses.

In [59]:
path_5 = 'atividade1/fcc_survey.xlsx'

survey_responses = pd.read_excel(path_5)

survey_responses.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CodeEventCoffee,CodeEventConferences,CodeEventDjangoGirls,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,...,ResourceCoursera,ResourceDevTips,ResourceEdX,ResourceEggHead,ResourceFCC,ResourceGoogle,ResourceHackerRank,ResourceKhanAcademy,ResourceLynda,ResourceMDN,ResourceOdinProj,ResourceOther,ResourcePluralSight,ResourceReddit,ResourceSkillCrush,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

6. Crie uma string chamada col_string, especificando que os pandas devem carregar a coluna AD e o intervalo AW até BA.
Carregue fcc_survey.xlsx, definindo ``skiprows`` e ``usecols`` para ignorar as duas primeiras linhas e obter apenas as colunas em col_string.
Visualize os nomes das colunas selecionadas no dataframe resultante.

In [60]:
col_string = "AD, AW:BA"
survey = pd.read_excel(path_5,
                       skiprows=2,
                       usecols=col_string,
                       header=None)
survey.head()

                         29       48   49   50   51   52
0  United States of America  15000.0  0.0  0.0  0.0  1.0
1  United States of America  48000.0  0.0  0.0  0.0  0.0
2  United States of America  43000.0  0.0  0.0  0.0  1.0
3  United States of America   6000.0  1.0  0.0  0.0  1.0
4  United States of America  40000.0  0.0  0.0  0.0  0.0

In [61]:
survey2 = pd.read_excel(path_5,
                       skiprows=2,
                       usecols=col_string)
survey2.head()

  United States of America.1    15000  0.4  0.5  0.6  1.1
0   United States of America  48000.0  0.0  0.0  0.0  0.0
1   United States of America  43000.0  0.0  0.0  0.0  1.0
2   United States of America   6000.0  1.0  0.0  0.0  1.0
3   United States of America  40000.0  0.0  0.0  0.0  0.0
4                  Singapore  32000.0  0.0  0.0  1.0  0.0

7. Crie um dataframe a partir do arquivo `fcc_survey.xlsx` passando a posição da segunda aba para ``sheet_name``.

In [62]:
# Primeira aba possui o index 0 e a segunda possui o index 1

survey3 = pd.read_excel(path_5,
                       skiprows=2,
                       usecols=col_string,
                       header=None,
                       sheet_name=1)
survey3.head

<bound method NDFrame.head of                                      29   48   49   50   51  \
0      Not working but looking for work  0.0  0.0  0.0  NaN
1                    Employed for wages  1.0  0.0  0.0  0.0
2                    Employed for wages  0.0  0.0  0.0  1.0
3      Not working but looking for work  0.0  0.0  0.0  NaN
4                        Unable to work  0.0  1.0  0.0  NaN
...                                 ...  ...  ...  ...  ...
18169          Self-employed freelancer  0.0  0.0  0.0  0.0
18170          Self-employed freelancer  0.0  0.0  0.0  1.0
18171                Employed for wages  0.0  0.0  1.0  1.0
18172                Employed for wages  0.0  0.0  0.0  1.0
18173                Employed for wages  0.0  0.0  0.0  1.0

                                 52
0             Within 7 to 12 months
1             Within 7 to 12 months
2          Within the next 6 months
3             Within 7 to 12 months
4                               NaN
...                             ...
18169                           NaN
18170  more than 12 months from now
18171                           NaN
18172                           NaN
18173             I haven't decided

[18174 rows x 6 columns]>

8. Carregue as planilhas de 2016 e 2017 por nome em variáveis separadas. Calcule a média da coluna Age para as diferentes abas do arquivo.

In [63]:
survey_2016 = pd.read_excel(path_5, sheet_name='2016')
# survey_2016
survey_2016['Age'].mean()

29.17542055388232

In [64]:
survey_2017 = pd.read_excel(path_5, sheet_name='2017')
# survey_2017
survey_2017['Age'].mean()

27.691872193661744

9. Concatene as diferentes abas do arquivo `fcc_survey.xlsx` em apenas um dataframe. Calcule a média da coluna Age para a concatenação das abas do arquivo.

In [65]:
survey_all = pd.read_excel(path_5, sheet_name = ["2016", "2017"])
# survey_responses_all  

df_9 = pd.concat(survey_all.values())
df_9['Age'].mean()

28.388750862663905

10.  Utilizando uma query em SQL e o banco `sqlite-sakila.db` retorne as cidades e os países, mas apenas os países que começem com a letra **B**.

In [66]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [67]:
engine = create_engine('sqlite:///atividade1/sqlite-sakila.db')
insp = inspect(engine)

In [68]:
insp.get_table_names()

['actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

In [69]:
sql_query = '''
select
    *
from
    country
'''

In [70]:
paises = pd.read_sql_query(sql_query, engine)
paises

     country_id               country          last_update
0             1           Afghanistan  2021-03-06 15:51:49
1             2               Algeria  2021-03-06 15:51:49
2             3        American Samoa  2021-03-06 15:51:49
3             4                Angola  2021-03-06 15:51:49
4             5              Anguilla  2021-03-06 15:51:49
..          ...                   ...                  ...
104         105               Vietnam  2021-03-06 15:51:49
105         106  Virgin Islands, U.S.  2021-03-06 15:51:49
106         107                 Yemen  2021-03-06 15:51:49
107         108            Yugoslavia  2021-03-06 15:51:49
108         109                Zambia  2021-03-06 15:51:49

[109 rows x 3 columns]

In [71]:
sql_query_2 = '''
select
    *
from
    city
'''

cidades = pd.read_sql_query(sql_query_2, engine)
cidades

     city_id                city  country_id          last_update
0          1  A Corua (La Corua)          87  2021-03-06 15:51:49
1          2                Abha          82  2021-03-06 15:51:49
2          3           Abu Dhabi         101  2021-03-06 15:51:49
3          4                Acua          60  2021-03-06 15:51:49
4          5               Adana          97  2021-03-06 15:51:49
..       ...                 ...         ...                  ...
595      596               Zaria          69  2021-03-06 15:51:54
596      597        Zeleznogorsk          80  2021-03-06 15:51:54
597      598         Zhezqazghan          51  2021-03-06 15:51:54
598      599            Zhoushan          23  2021-03-06 15:51:54
599      600          Ziguinchor          83  2021-03-06 15:51:54

[600 rows x 4 columns]

In [72]:
sql_query_3 ='''
SELECT
    country.country,
    city.city
FROM country
INNER JOIN city
ON country.country_id = city.country_id
WHERE country.country LIKE 'B%'
 '''
paises_cidades_df = pd.read_sql_query(sql_query_3, engine)
paises_cidades_df

       country                  city
0      Bahrain             al-Manama
1       Brazil              Alvorada
2       Brazil        Angra dos Reis
3       Brazil               Anpolis
4       Brazil   Aparecida de Goinia
5       Brazil              Araatuba
6       Brazil                   Bag
7       Brunei   Bandar Seri Begawan
8       Brazil                  Belm
9       Brazil              Blumenau
10      Brazil             Boa Vista
11      Brazil               Braslia
12  Bangladesh                 Dhaka
13     Bolivia               El Alto
14      Brazil                Goinia
15      Brazil                Guaruj
16      Brazil   guas Lindas de Gois
17      Brazil                Ibirit
18  Bangladesh              Jamalpur
19      Brazil     Juazeiro do Norte
20      Brazil          Juiz de Fora
21      Brazil               Luzinia
22      Brazil                Maring
23     Belarus              Mogiljov
24     Belarus             Molodetno
25      Brazil                    Po
26      Brazil        Poos de Caldas
27      Brazil             Rio Claro
28    Bulgaria                  Ruse
29      Brazil   Santa Brbara dOeste
30      Brazil            Santo Andr
31      Brazil  So Bernardo do Campo
32      Brazil           So Leopoldo
33      Brazil              Sorocaba
34    Bulgaria          Stara Zagora
35     Bolivia                 Sucre
36  Bangladesh               Tangail
37      Brazil            Vila Velha
38      Brazil  Vitria de Santo Anto